.action {
  display: flex;
  padding: 5px;
  align-items: center;

  &[type=add] {
    & > .action__icon {
      background: url('../../assets/icons/add.gif') no-repeat;
      background-size: cover;
    }
  }

  &[type=close] {
    & > .action__icon {
      background: url('../../assets/icons/close.png') no-repeat;
      background-size: cover;
    }
  }

  &[type=warn] {
    & > .action__icon {
      background: url('../../assets/icons/warn.png') no-repeat;
      background-size: cover;
    }

    & > .action__text {
      color: grey;
    }
  }

  &[type=ok] {
    & > .action__icon {
      background: url('../../assets/icons/ok.png') no-repeat;
      background-size: cover;
    }

    & > .action__text {
      color: green;
    }
  }

  &__icon {
    width: 10px;
    height: 10px;
  }
  
  &__text {
    color: black;
    margin-left: 5px;
    font-size: 10px;
  }

  &.clickable {
    cursor: pointer;
  }
}